#swatch {
  width: 40px;
  height: 40px;
}

#gameContainer canvas {
  position: absolute;
  left: 0;
}

.gameStats {
  color: lime;
  font-size: 60px;
}

#gameDifficulty {
  position: absolute;
  left: 5%;
  top: 10px;
}

#gameScore {
  position: absolute;
  right: 5%;
  top: 10px;
}

#gameOverlay {
  background-color: black;
  height:80px;
  position: absolute;
  width: 100%;
}

.life {
  height: 60px;
  width: 60px;
  margin-top: 10px;
  padding: 0 6px;
}